.headroom {
  transform: none !important;
}

#header {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 118px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  transition: all 200ms ease-in-out;
}

.headroom--unpinned #header {
  transform: translateY(-58px);
}

#header-wrapper {
  padding: 0px 50px;
}

#logo {
  display: block;
  width: 150px;
  margin: 20px auto 26px;
}

#user-info {
  position: absolute;
  top: 20px;
  right: 30px;
}

#user-info .main-button {
  position: relative;
  margin: 0px 10px;
  font-weight: 500;
  border: 1px solid #e9e9e9;
  outline: none;
}

#user-info .main-button.black-button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

#user-info .main-button:hover {
  border: 1px solid #000;
}

#header-bottom {
  text-align: center;
}

#toggle-sidebar-menu {
  position: absolute;
  top: 78px;
  left: 40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#toggle-sidebar-menu:before, #toggle-sidebar-menu:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  transition: all 200ms ease-in-out;
}

#toggle-sidebar-menu:before {
  top: 4px;
  height: 2px;
  background: #000;
}

#toggle-sidebar-menu:after {
  top: 9px;
  height: 3px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#toggle-sidebar-menu.open:before, #toggle-sidebar-menu.open:after {
  top: 10px;
  height: 2px;
  background: #000;
}

#toggle-sidebar-menu.open:before {
  transform: rotate(-45deg);
}

#toggle-sidebar-menu.open:after {
  border: none;
  transform: rotate(45deg);
}

.desktop-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0px 25px;
}

.desktop-menu a {
  padding-bottom: 20px;
  font-size: 12px;
  letter-spacing: 2.5px;
  transition: color 200ms ease-in-out;
}

.desktop-menu a:hover {
  color: #000;
}

.desktop-menu a.selected {
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid #000;
}

#search-wrapper {
  position: absolute;
  right: 40px;
  bottom: 18px;
  width: 24px;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

#search-wrapper.active {
  width: 200px;
}

#search-input {
  height: 24px;
  padding-right: 34px;
  font-weight: 400;
  border: none;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #808080;
}

#submit-search {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fff;
  transform: rotateZ(90deg);
  cursor: pointer;
}
