#header {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

#header-wrapper {
  padding: 10px 50px;
}

#logo {
  display: block;
  width: 150px;
  margin: auto;
}

#header-bottom {
  text-align: center;
}

.desktop-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px;
}

.desktop-menu a.selected {
  border-bottom: 2px solid #000;
}
