#login-popup {
  display: table;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.95);
}

#login-popup-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#login-popup-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.1);
  border-radius: 100%;
  transition: all 200ms ease-in-out;
}

#login-message {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#login-message-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#login-message-content {
  display: table-cell;
  vertical-align: middle;
}

#login-message h6 {
  margin: 30px 0px 20px;
  font-size: 24px;
  color: #000;
}

#login-form {
  margin: 10px 0px;
}

#login-summary {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
}

#login-summary p {
  color: #000;
}

.login-input input {
  width: 100%;
  max-width: 300px;
  margin: 10px 0px;
  padding: 10px 0px 15px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  outline: none;
}

#close-login-popup {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 50%;
  width: 30px;
  height: 30px;
  margin-right: -15px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: border 200ms ease-in-out;
}

#close-login-popup:hover {
  border: 2px solid #000;
}

#close-login-popup:before, #close-login-popup:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 3px;
  width: 20px;
  height: 2px;
  background-color: #b9b9b9;
  transition: background-color 200ms ease-in-out;
}

#close-login-popup:hover::before, #close-login-popup:hover::after {
  background-color: #000;
}

#close-login-popup:before {
  transform: rotate(-45deg);
}

#close-login-popup:after {
  transform: rotate(45deg);
}

#login-button {
  display: block;
  position: relative;
  margin: 30px auto 0px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
  transition: border-radius 200ms ease-in-out;
}

#login-button:hover {
  border-radius: 34px;
}

#to-register-popup {
  margin-top: 25px;
  color: #000;
}

#to-register-popup a {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

#to-register-popup a:hover {
  text-decoration: none;
}
