.main-col-featured-news {
  float: left;
}

.secondary-col-featured-news {
  float: right;
}

.featured-news-box {
  position: relative;
}

.featured-news-image {
  display: block;
}

.featured-news-image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 120px 0px 300px -10px rgba(0,0,0,0.75);
}

.main-col-featured-news .featured-news-image::after {
  box-shadow: none;
}

.featured-news-summary {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}

.main-summary {
  top: initial;
  right: 12.5%;
  bottom: -60px;
  left: 12.5%;
  width: 75%;
  padding: 15px;
  border: 1px solid #ececec;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
}

.secondary-summary {
  padding-right: 200px;
}

.featured-news-summary * {
  color: #fff;
}

.title-featured-news {
  max-width: 50%;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.main-summary .title-featured-news {
  max-width: 100%;
  color: #fff;
  background-color: #000;
  font-size: 18px;
}

.info-writer-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.main-summary .info-writer-box {
  position: relative;
}

.featured-news-summary p {
  color: #bdbdbd;
  font-size: 11px;
}

.featured-news-summary p a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.featured-news-summary p a:hover {
  text-decoration: underline;
}

.main-summary p {
  color: #737373;
}

.main-summary p a {
  color: #000;
}

.writer {
  margin-top: 15px;
}

.topic {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 2px;
  transition: box-shadow 200ms ease-in-out;
}

.main-summary .topic {
  right: 15px;
  bottom: 14px;
}

.topic:hover {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}

.pop-culture-topic {
  background-color: #00aec3;
}

.beauty-topic {
  background-color: #ff90e4;
}

.entertainment {
  background-color: #0099e0;
}

.techno {
  background-color: #ff8a00;
}

.games {
  background-color: #ff3b3b;
}

br {
  clear: both;
}

.view-all-wrapper {
  text-align: center;
}

.view-all-wrapper span {
  display: inline-block;
  vertical-align: middle;
}

#home-va-wrapper {
  margin: 0px 10px;
  padding: 10px 0px 20px;
  border-bottom: 1px solid #f1f1f1;
}

.view-all span {
  transition: color 200ms ease-in-out;
}

.view-all:hover span {
  color: #000;
}

.view-all-link {
  margin: 0px 20px;
  font-size: 12px;
  letter-spacing: 2.5px;
}

.arrow-left, .arrow-right {
  position: relative;
  width: 10px;
  height: 20px;
}

.arrow-left::before, .arrow-left::after, .arrow-right::before, .arrow-right::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 6px;
  height: 1px;
  background-color: #808080;
  transition: background-color 200ms ease-in-out;
}

.view-all:hover *::before, .view-all:hover *::after {
  background-color: #000;
}

.arrow-left::before, .arrow-right::before {
  top: 7px;
  transform: rotate(45deg);
}

.arrow-left::after, .arrow-right::after {
  top: 11px;
  transform: rotate(-45deg);
}

.arrow-right::before {
  transform: rotate(-45deg);
}

.arrow-right::after {
  transform: rotate(45deg);
}

.horz-ads {
  padding: 30px 10px;
}

.horz-ads {
  display: block;
  max-width: 800px;
  margin: auto;
}
