dl,h1,h2,h3,h4,h5,h6,ol,ul{margin-top:0;margin-bottom:0}button,iframe,img{border:0}blockquote,button{margin:0;padding:0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent}body{margin:0;line-height:1}li,main{display:block}ol,ul{padding-left:0}dd{margin-left:0}h1,h2,h3,h4,h5,h6{font-size:inherit}figure,p{margin:0}sup{position:relative;top:-.5em;vertical-align:baseline;font-size:75%;line-height:0}strong{font-weight:700}img{max-width:100%;height:auto;vertical-align:middle}a{text-decoration:none;color:inherit}button{text-align:inherit;text-transform:inherit;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:0 0;cursor:pointer;overflow:visible}::-moz-focus-inner{border:0;padding:0}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1; /* Firefox */
  font-family: 'Quicksand', sans-serif;
  transition: all 200ms ease-in-out;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
  font-family: 'Quicksand', sans-serif;
  transition: all 200ms ease-in-out;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
  font-family: 'Quicksand', sans-serif;
  transition: all 200ms ease-in-out;
}

input, textarea, select {
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

* {
  color: #808080;
  box-sizing: border-box;
}

body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.loader {
  padding: 100px 0px;
}

.loader img {
  width: 40px;
}

.center {
  text-align: center;
}

.page-content-wrapper {
  max-width: 1120px;
  margin: auto;
  padding-top: 118px;
}

#news-detail.page-content-wrapper {
  max-width: 100%;
}

.page-content {
  padding: 20px 0px;
}

.col-25, .col-33, .col-50, .col-100 {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33333%;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

.main-button {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.main-button:hover {
  color: #000;
  border: 1px solid #808080;
}

.main-button.bookmarked {
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
