#title-bookmarks-wrapper {
  padding: 60px 10px 0px;
}

.writer-info-top.bookmarks-writer-info-top,
.article-summary-wrapper.bookmarks-article-summary-wrapper {
  padding: 25px;
}

.bookmarks-title {
  display: block;
  width: 100%;
  margin: 0px 0px 30px;
  font-size: 30px;
  color: #000;
}

.title-article.bookmarks-title-article {
  height: auto;
  font-size: 20px;
}

.search-title::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
}

.search-title:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

.search-title::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

.search-title.active::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
}

.search-title.active:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
}

.search-title.active::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
}

.search-content-wrapper {
  max-width: 720px;
  margin: 0px -10px;
}
